<div>
  <h1>Resume</h1>
  <h3><span>Personal Details</span></h3>
  <Section>
<table>
  <tr>
    <td>Name</td>
    <td>: K.Manikandan</td>
  </tr>
  <tr>
  <td>Gender</td>
  <td>: Male</td>
  </tr>
  <tr>
  <td>Place</td>
  <td>: Kaipani</td>
  </tr>
</table>
<br>
<h3><span>Education Details</span></h3>
<table style="border-style:solid;">
<th>Degree</th>
<th>University</th>
<th>Mark</th>
<tr>
<td>10th</td>
<td>Marakkanam</td>
<td>350</td>
</tr>
<tr>
<td>12th</td>
<td>Marakkanam</td>
<td>700</td>
</tr>
<tr>
<td>Bsc</td>
<td>Thiruvalluvar University</td>
<td>400</td>
</tr>
</table>
</Section>
<h3>Hobbies</h3>
<li>Cyclone</li>
<li>Swimming</li>













</div>